[submodule "oraclize"]
	path = oraclize
	url = git@github.com:oraclize/ethereum-api.git
[submodule "stringutils"]
	path = stringutils
	url = git@github.com:Arachnid/solidity-stringutils.git
[submodule "ethereum-bridge"]
	path = ethereum-bridge
	url = git@github.com:oraclize/ethereum-bridge.git
